<%- include('./partials/header'); %>
<main class="notBootstrap">
    <div class="contain">
        <h2>Login</h2>
        <%- include('./partials/messages') -%> 
        <form action="/index" method="post">
            <input type="text" class="input" placeholder="Email Address">
            <input type="text" class="input" placeholder="Password">
            <a href="" class="m-2 text-danger">Forgot Password?</a>
            <button type="submit" class="formButton">Login</button>
            <p class="m-2 text-center">OR</p>
        </form>
        <form action="/signUp" method="get">
            <button class="formButton">Sign Up</button>
        </form>
    </div>
</main>
<%- include('./partials/footer'); %>