<%- include('./partials/header'); %>
<main class="notBootstrap">
    <div class="contain">
        <h2>Register</h2>
        <%- include('./partials/messages') -%> 
        <form action="/signUp/createUser" method="post">
            <input type="text" class="input" placeholder="Name">
            <input type="text" class="input" placeholder="Email Address">
            <input type="text" class="input" placeholder="Password">
            <button type="submit" class="formButton">Register</button>
        </form>
        <a href="/login" class="m-2">Back to Login</a>
    </div>
</main>
<%- include('./partials/footer'); %>